{% extends "layout.html" %}

{% block title %}
    About Us
{% endblock %}

{% block main %}
        <div class="row">
            <div class="col-2">
                <h1>Made by us, for you.</h1>
                <img src="static/images/KnitByCC.png" height="250px">
                <p>To pass the time and to stay connected during quarantine, my friends and I turned to knitting. We would pick a project to work on together, and then would on our porches and knit! However, after almost two years, we have run out of people to knit things for! This is where Knit By CC comes in - this platform allows us to continue to work on projects together (even though we are on different campuses) while sharing our love of knitting with the wider community.</p>
            </div>
        </div>
        <container class="meetme">
            <h2>Our Knitters</h2>
            <div class="row">
                <div class="col-2">
                    <h1>Caroline Conway</h1>
                    <p>Hello! I'm Caroline, and I am a junior at Harvard College. My grandmother and aunt taught me to knit when I was 9, but it wasn't until the past year that I rediscovered my love of and appreciation for knitting. When I am not forcing my friends to wear my hats, I love to dance, read, and go for walks with my dog.
                </div>
                <div class="col-2">
                    <img src="static/images/Caroline.jpg">
                </div>
            </div>
        </container>
        <container class="meetme">
            <div class="row">
                <div class="col-2">
                    <h1>Claire Ladd</h1>
                    <p>Hello! I'm Claire, and I am currently pursuing my Masters in Public Health at UMass Amherst. I recently picked up knitting during the pandemic, and I've really enjoyed designing patterns and color schemes. Aside from knitting, I love to cuddle with my new kitten, Prim!
                </div>
                <div class="col-2">
                    <img src="static/images/Claire.jpg">
                </div>
            </div>
        </container>
{% endblock %}