{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
<div class="col-2">
    <h2>
        Log In
    </h2>
</div>
<div class="center">
    <form action="/login" method="post">
        <div class="row">
            <div class="form-row align-items-center">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Email" type="text">
            </div>
        </div>
        <div class="row">
            <div class="form-row align-items-center">
                <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
            </div>
        </div>
        <div class="row">
            <div class="form-row align-items-center">
                <button class="button" type="submit">Log In</button>
            </div>
        </div>
    </form>
</div>
<div class="col-2">
    <h2>
        Need to create an account?
    </h2>
</div>
<div class="center">
    <div class="row">
        <a href="/register" class="button">Register</a>
    </div>
</div>
{% endblock %}