{% extends "layout.html" %}

{% block title %}
    Cart
{% endblock %}

{% block main %}

<div class="col-2">
    <h2>
        Thank you for your order!
    </h2>
    <div class="row">
        <p>
            Your commission has been sent to our knitters for review. Once your project has been accepted, we will be in contact to discuss the details of your project and payment. Please let us know if you have any questions, and thank you for your support!
        </p>
    </div>
    <div class="row">
        <img src="static/images/KnitByCC.png" height="250px">
    </div>
</div>
{% endblock %}
