{% extends "layout.html" %}

{% block title %}
    Sweaters
{% endblock %}

{% block main %}
<div class="row">
  <div class="shop-col-3">
      <!--Help with bootstrap's carousel documentation from W3 Schools-->
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Preview of which slides being viewed -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>
          <!-- Slide images, one must be active for slideshow to begin -->
          <div class="carousel-inner">
            <div class="item active">
              <img src="static/images/Sweater.jpg" alt="Half olive and half yellow sweater">
            </div>
            <div class="item">
              <img src="static/images/CrimsonSweater.jpg" alt="Crimson and tan sweater">
            </div>
            <div class="item">
                <img src="static/images/WhiteSweater.jpg" alt="White sweater with crimson trim">
            </div>
          </div>
          <!--buttons to move left and right-->
          <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Back</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
  </div>
  <div class="col-2">
    <h1>
      Sweaters
    </h1>
    <p>
      Made with an incredibly high quality, chunky wool - these sweaters are fashionable, warm, and totally customizable. You will work with your assigned knitter to craft a style, texture, and color scheme perfect for you!
    </p>
    <h2>
      Order Information
    </h2>
    <p>
      Input your requested colors, and select the size of your sweater (these details will be further refined in the commission process). 
    </p>
    <form action="/sweaters" method="post">
      <div class="form-group row">
        <div class="form-group col-md-6">
          <label for="Color1">Primary Color: </label>
          <input type="text" class="form-control" name="Color1" id="Color1" placeholder="Color 1">
        </div>
        <div class="form-group col-md-6">
            <label for="Color2">Secondary Color: </label>
            <input type="text" class="form-control" name="Color2" id="Color2" placeholder="Color 2">
        </div>
      </div>
      <div class="form-group row">
        <div class="form-group col-md-6">
            <label for="Size">Size: </label>
            <select class="form-control" name="Size" id="Size">
                <option selected="true" disabled="disabled">Select Size</option>
                <option value="Petite">Women's Petite</option>
                <option value="Small">Women's Small</option>
                <option value="Medium">Women's Medium</option>
                <option value="Large">Women's Large</option>
                <option value="Extra Large">Women's Extra Large</option>
            </select>
        </div>
        <div class="form-group col-md-6">
          <label for="Quantity">Quantity: </label>
          <input type="number" min="1" class="form-control" name="Quantity" id="Quantity" placeholder="Quantity">
        </div>
      </div>
      <div class="form-group row">
        <div class="form-group col-md-6">
          <button type="submit" class="button">Order</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}